.menu-button {
  display: none;
}

@media (max-width: 992px) {
  .menu-button {
    display: block;
    border:0;
    background: transparent;
    padding:0;
  }
  .menu-button__image {
    display: block;
  }
}